
.divider{
    width: 320px;
    background-color: rgb(21, 18, 18);
    height:3.6px;
}
.contactHeader{
font-weight: 700;
    font-size: 2.9rem;
}

.input{
    border: 0;
    border-bottom:    0.125rem solid #ced4da;
    border-radius: 0;
}
.button{
    background-color: #1abc9c;
    border:1px solid #15967d;
}
