

.start-40{
  left:40%;
}
.w-30{
  width: 30%;
}
.start-30{
  left: 43%;
}
.w-12{
  width:12%;
}
input:focus {
    color: black !important;

  }.navbar-toggler{
    background-color:  #1ABC9C;
}

@media screen and (max-width:900px) {
  .w-80-media{
    width: 80vh !important;
  }
  .media{
    justify-content: left;
  }
  
}
@media screen and (max-width:500px) {
  .w-50-media{
    width: 50vh !important;
  }

  
}